@import "../../../styles/settings.scss";

.root {
  div {
    padding: 0;
  }

  .banner{
    background-color: rgb(90, 83, 83); //podglad
  }

  .productList{
    background-color: rgb(128, 20, 20); //podglad
  }

  .filters{
    background-color: rgb(103, 221, 156); //podglad
  }

  .brands{
    background-color: rgb(137, 130, 230); //podglad
  }
}