@import "../../../styles/settings.scss";

// .root {
// }

.main {
  @extend %animation;
  background-color: $button-bg;
  color: $button-text;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 10px 30px;

  &:not(.noHover):hover {
    color: $button-text-border-hover !important;
    background-color: $button-text-hover-bg;
    text-decoration: none;
  }
}

.small {
  @extend .main;
  font-size: 13px;
  line-height: 24px;
  padding: 5px 10px;
  font-weight: 400;
}

.outline {
  @extend %animation;
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid $button-outline-border;
  color: $button-outline-text;
  font-size: 13px;
  line-height: 22px;

  &:not(.noHover):hover {
    background-color: $button-outline-hover-text;
    color: $white;
  }
}

.innerChatbox {
  @extend .main;
  width: fit-content;
  border-radius: 2rem;
  background-color: transparent;
  color: $black;
  border: 2px solid $grayLight;
  padding: 5px 50px;
  margin: 5px auto;
}

.floating {
  @extend .main;
  border-radius: 10px;
  box-shadow: 0 0 4px $button-outline-border;
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  z-index: 100;
}