@import "../../../styles/settings.scss";

.root {
  background-color: $companyClaim-bg;

  :global(.container) > :global(.row) {
    height: 145px;
  }
  .elements :first-child {
    @media (max-width: 576px) { order: 3; }
  }

  .elements :first-child {
    @media (max-width: 576px) { order: 3; }
  }

  .phoneNumber {
    p {
      margin: 0;
      font-size: 17px;
      line-height: 42px;
      color: $companyClaim-phone-text;
      font-weight: 500;

      @media (max-width: 576px) {
        font-size: 14px;
      }

      .icon {
        font-size: 32px;
        color: $companyClaim-icon;
        vertical-align: middle;
        margin-top: -3px;
        margin-right: 0.8rem;
      }
    }
  }

  .cart {
    .cartBox {
      display: inline-block;
      position: relative;
      color: $companyClaim-cartBox-text;
      
      @media (max-width: 576px) {
        margin-right: 1.5rem;
      }

      @media (max-width: 576px) {
        margin-right: 1.5rem;
      }

      .cartIcon {
        @extend %animation;
        background-color: $companyClaim-cartIcon-bg;
        width: 55px;
        height: 50px;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;

        .icon {
          margin-right: 5px;
        }
      }

      .cartCounter {
        min-width: 28px;
        height: 27px;
        border-radius: 14px;
        background-color: $companyClaim-cartCounter-bg;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        color: $companyClaim-cartCounter-text;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(70%, -50%);
      }

      .cartCounter p {
        margin: 0;
        padding: 0 5px 0 5px;
        max-width: 50px;
      }

      &:hover {
        .cartIcon {
          background-color: lighten($companyClaim-cartCounter-hover-bg, 10%);
        }
      }
    }
  }
}
