@import "../../../styles/settings.scss";

.root {
  .panelBar {
    margin-bottom: 30px;
    position: relative;
    :global(.row) > * {
      border-bottom: 4px solid $newFeniture-border;
    }

    .heading {
      position: relative;
      h3 {
        color: $newFeniture-header-text;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 38px;
        margin: 0;
        letter-spacing: 1px;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 45px;
        border-bottom: 4px solid $newFeniture-header-border;
      }
    }

    .menu {
      text-align: center;

      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          display: inline-block;
          margin: 0 0.5rem;
          font-weight: 600;

          a {
            color: $newFeniture-text;
            position: relative;
            text-decoration: none;
            font-size: 18px;
            display: block;

            &.active,
            &:hover {
              &::before {
                @extend %animation;
                content: "";
                position: absolute;
                bottom: -4px;
                left: 0;
                width: 100%;
                height: 4px;
                border-bottom: 4px solid $newFeniture-hover-border;
              }
            }
          }
        }
      }
    }

    .dots {
      position: absolute;
      right: 0;
      top: 0;

      ul {
        margin: 0;
        padding: 0 0 0 1rem;
        list-style: none;
        background-color: $newFeniture-menu-bg;
        transform: translateY(15px);

        li {
          display: inline-block;
          margin-left: 0.5rem;

          a {
            @extend %animation;
            display: block;
            width: 13px;
            height: 13px;
            border-radius: 6px;
            background-color: $newFeniture-link-bg;
            font-size: 0;
            
            &.active,
            &:hover {
              background-color: $newFeniture-hover-bg;
            }
          }
        }
      }
    }
    .horizontalMenu svg {
      font-size: 0px;
    }
  }
}
@media (max-width: 1200px) {
  .root {
    .panelBar {
      .heading {
        flex: 2;
      }
      .menu {
        flex: 4;
      }
      .dots {
        display: none;
      }
    }
  }
}

@media (max-width: 767px) {
  .root {
    .panelBar {
      position: relative;
      .heading {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -100%);
        &::before {
         display: none;
        }
      }
      .menu {
        ul {
          top: -20px;
          li {
            a {
              &.active,
              &:hover {
                &::before {
                  bottom: -5px;
                }
              }
            }
          }
        }
      }
      .dots {
        display: none;
      }
    }
  }
}

@media (max-width: 991px) {
  .root {
    .panelBar {
      .heading {
        flex: 2;
      }
      .menu {
        flex: 4;
      }
      .dots {
        display: none;
      }
    }
  }
}

@media (max-width: 767px) {
  .root {
    .panelBar {
      position: relative;
      .heading {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -100%);
        &::before {
         display: none;
        }
      }
      .menu {
        ul {
          top: -20px;
          li {
            a {
              &.active,
              &:hover {
                &::before {
                  bottom: -5px;
                }
              }
            }
          }
        }
      }
      .dots {
        display:none;
      }
    }
  }
}

@media (max-width: 576px) {
  .root {
    .panelBar {
      position: relative;
      .heading {
        position: absolute;
        left: 30%;
      }
    }
  }
  .root .panelBar .menu {
    text-align: start;
  }
  .root .panelBar .dots {
    display: none;
  }
  .root .panelBar .horizontalMenu svg {
    font-size: 20px;
  }
  .horizontalMenu .dropdown {
    display: none;
    position: absolute;
    z-index: 5;
    background-color: $newFeniture-navbar-bg;
    min-width: 100px;
    text-align: center;
  }

  .horizontalMenu:hover .dropdown {
    display: block;
  }

  .root .panelBar .menu .dropdown li {
    display: block;
    margin: 0;
    padding: 5px;
  }

  .root .panelBar .menu ul li {
    margin: 0 0 0 20px;
  }
}

@media (max-width: 362px) {
  .root {
    .panelBar {
      position: relative;
      .heading {
        position: absolute;
        left: 35%;
      }
    }
  }
  .root .panelBar .row .col h3 {
    text-align: left;
    }
    .root .panelBar .menu ul li {
    margin: 0 0 0 5px;
  }
  .root .panelBar .dots {
    display: none;
  }

    .root .panelBar .menu ul li a{
      font-size: 14px; 
    }

    .root .panelBar .dots {
      display: none;
  }
}

