@import "../../../styles/settings.scss";

.root {
  display: flex;
  align-items: center;
  position: relative;
  margin: 15px 0 30px 0;

  &::after {
    position: absolute;
    content: '';
    width: 100%;
    border-bottom: solid 1px $gray225;
    bottom: -15px;
    left: 0;
  }

  .icon {
    cursor: pointer;
    font-size: 26px;

    &:hover {
      color: $orange;
    }
  }

  .image {
    width: 80px;
    height: 80px;
    background-color: grey;
  }

  .productName {
    padding-left: 50px;
  }

  .productPrice,
  .total {
    color: $orange;
  }

  .productQuantity {
    padding-left: 25px;
    display: flex;

     input {
       text-align: center;
      border: solid 1px $gray225;
      background-color: #fff;

      &:focus {
        outline: none;
      }

      &:first-of-type {
        border-right: none;
      }

      &:last-of-type {
        border-left: none;
      }
    }
  }
}
