@import "../../../styles/settings.scss";

.root {
  margin-top: 50px;

  .name {
    height: 120px;
    margin: 30px 0;
    background-color: $gray240;

    h2 {
    }

    .icon {
    }
  }

  .cartBody {
    border: solid 1px $gray225;

    .bodyHeader {
      height: 60px;
      display: flex;
      align-items: center;
      background-color: $gray240;

      .productName {
        padding-left: 50px;
      }
    }
  }
}
