@import "../../../styles/settings.scss";

.root {
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;

  .popup {
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid $productBox-root-border;

    .icon {
      cursor: pointer;

      &:hover {
        color: $orange;
      }
    }

    .head {
      position: relative;

      h3 {
        position: relative;
        color: $newFeniture-header-text;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 38px;
        margin: 0;
        letter-spacing: 1px;

        &::before {
          content: "";
          position: absolute;
          top: 38px;
          left: 0;
          width: 45px;
          border-bottom: 4px solid $newFeniture-header-border;
        }
      }
    }

    .body {
      .prodImage {
        height: 250px;
        background-color: green;
      }

      .prodDetal {
        height: 250px;

        ul {
          padding: 0;

          li span {
            font-weight: 700;
          }
        }
      }
    }
  }
}
