@import "../../../styles/settings.scss";

.panelBar {
  margin-bottom: 30px;
  position: relative;

  .heading {
    position: relative;
    border-bottom: 4px solid $furnitureGallery-border;

    h3 {
      color: $furnitureGallery-header-text;
      text-transform: uppercase;
      font-size: 20px;
      line-height: 38px;
      margin: 0;
      letter-spacing: 1px;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 45px;
      border-bottom: 4px solid $furnitureGallery-header-border;
    }
  }
}


